.Modal {
    align-items: center;
    display: flex;
    justify-content: center; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(61, 90, 128, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.Modal:target{
    visibility: visible;
    opacity: 1;
}
.Box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}

.Content {
    position: absolute;
    background: white;
    width: 400px;
    padding: 1em 2em;
    border-radius: 4px;
}

.Videre {
    background-color: rgb(238, 108, 77);
    text-decoration: none;
    border: 4px grey solid;
    color: rgb(224, 251, 252);
    display: inline-block;
    margin-left: 10px;
    padding: 15px;
}

.Videre:hover {
    background-color:rgb(61, 90, 128);
    transition: .4s ease-in-out;
    color: rgb(195, 255, 0);
}