#NavBar {
    display:grid;
    grid-template-columns: 25% 25% 25% 1fr;
    column-gap:10px;
    padding: 20px;
    border-bottom: 2px black solid;
    border-left: 1px aqua solid;
    border-right: 1px aqua solid;
    border-top: 2px black solid ;
}

.NavItems {
    text-align: center;
    justify-content: center;
    background-color: cyan;
    border-right:black solid 2px;
    border-left: black solid 2px;
    transition: .3s ease-in-out;
}

.NavItems:hover {
    background-color: rgb(83, 181, 247);
}

#startBody {
    background-color: cornflowerblue;
}

#Main_Content {
    text-align: center;
}

#Main_Content > h1 {
    text-decoration: underline;
}